# Indica que es el archivo .editorconfig principal
root = true

# Configuración global para todos los archivos
[*]
charset                     = utf-8
indent_style                = space
indent_size                 = 4
tab_width                   = 4
end_of_line                 = lf
max_line_length             = 120
insert_final_newline        = true
trim_trailing_whitespace    = true
ij_continuation_indent_size = 4
ij_visual_guides            = 80, 120
ij_smart_tabs               = true
ij_wrap_on_typing           = true

# Configuración para archivos YAML (comunes en proyectos Symfony)
[{compose*.{yml,yaml},.github/workflows/*.{yml,yaml}}]
indent_size = 2

# Configuración para archivos JSON y XML
[*.{json,xml}]
indent_size = 2

# Configuración para archivos Twig
[*.twig]
indent_size = 2

# Configuración para archivos Markdown
[*.{md,md.dist}]
trim_trailing_whitespace = false
max_line_length          = off

# Configuración para archivos de prueba
[*.test]
insert_final_newline     = false
trim_trailing_whitespace = false
